<!DOCTYPE html>
<html lang="en">

<head>
    <title>Requests - ResponsibleER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ResponsibleER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/requests">Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/info">API Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://isl.ics.forth.gr/ResponsibleER/" target="_blank">About</a>
                    </li>
            </div>
        </div>
    </nav>
    <div class="requests-main-container container">
        <div class="container-fluid" id="datasets-container">
            <p><b>Select a Dataset</b></p>
            <select class="form-select" id="dataset-val">
                <option value="0" selected>BeerAdvo-RateBeer</option>
                <option value="1">iTunes-Amazon</option>
                <option value="2">Fodors-Zagats</option>
                <option value="3">DBLP-ACM</option>
                <option value="4">DBLP-Scholar</option>
                <option value="5">Amazon-Google</option>
                <option value="6">Walmart-Amazon</option>
            </select>

        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="FairER-tab" data-bs-toggle="tab" data-bs-target="#FairER"
                    type="button" role="tab" aria-selected="true">FairER</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Unfair-tab" data-bs-toggle="tab" data-bs-target="#Unfair" type="button"
                    role="tab" aria-selected="false">Unfair</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="protected-tuples-tab" data-bs-toggle="tab"
                    data-bs-target="#protected-tuples" type="button" role="tab" aria-selected="false">Protected
                    Tuples</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dataset-statistics-tab" data-bs-toggle="tab"
                    data-bs-target="#dataset-statistics" type="button" role="tab" aria-selected="false">Dataset
                    Statistics</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="upload-dataset-tab" data-bs-toggle="tab" data-bs-target="#upload-dataset"
                    type="button" role="tab" aria-selected="false">Upload Dataset</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="FairER" role="tabpanel" aria-labelledby="FairER-tab">
                <div class="container fairER-container">
                    <div class="row form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="explanationSwitch" />
                        <label class="form-check-label" for="explanationSwitch">Explanation</label>
                    </div>
                    <div class="btn-group container" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Evaluation Results
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item"
                                    onclick="getEvaluation('fairER', 'EvaluationResults', 'fairer-container')">All</a>
                            </li>
                            <li><a class="dropdown-item"
                                    onclick="getEvaluation('fairER', 'Accuracy', 'fairer-container')">Accuracy</a></li>
                            <li><a class="dropdown-item"
                                    onclick="getEvaluation('fairER', 'SPD', 'fairer-container')">SPD</a></li>
                            <li><a class="dropdown-item"
                                    onclick="getEvaluation('fairER', 'EOD', 'fairer-container')">EOD</a></li>
                        </ul>
                        <button type="button" class="btn btn-secondary"
                            onclick="getClusters('fairER', 'fairer-container')">Get
                            Clusters</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="getPredictions('fairER', 'fairer-container')">Get
                            Predictions</button>
                    </div>
                    <div id="fairer-container">

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Unfair" role="tabpanel" aria-labelledby="Unfair-tab">
                <div class="container btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Evaluation Results
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item"
                                onclick="getEvaluation('unfair', 'EvaluationResults', 'unfair-container')">All</a></li>
                        <li><a class="dropdown-item"
                                onclick="getEvaluation('unfair', 'Accuracy', 'unfair-container')">Accuracy</a></li>
                        <li><a class="dropdown-item"
                                onclick="getEvaluation('unfair', 'SPD', 'unfair-container')">SPD</a></li>
                        <li><a class="dropdown-item"
                                onclick="getEvaluation('unfair', 'EOD', 'unfair-container')">EOD</a></li>
                    </ul>
                    <button type="button" class="btn btn-secondary"
                        onclick="getClusters('unfair', 'unfair-container')">Get
                        Clusters</button>
                    <button type="button" class="btn btn-secondary"
                        onclick="getPredictions('unfair', 'unfair-container')">Get
                        Predictions</button>
                </div>
                <div id="unfair-container">

                </div>
            </div>
            <div class="tab-pane fade" id="protected-tuples" role="tabpanel" aria-labelledby="protected-tuples-tab">
                <div class="btn-group container" role="group">
                    <button type="button" class="btn btn-secondary" onclick="getCondition('protected-container')">Get
                        Condition</button>
                    <button type="button" class="btn btn-secondary" onclick="editCondition()">Edit Condition</button>
                    <button type="button" class="btn btn-secondary" onclick="getTableOptions()">Tuple is
                        Protected</button>
                    <button type="button" class="btn btn-secondary" onclick="getPairFields()">Pair is Protected</button>
                </div>
                <div id="protected-container">

                </div>
                <div id="general-container">

                </div>
            </div>
            <div class="tab-pane fade" id="dataset-statistics" role="tabpanel" aria-labelledby="dataset-statistics-tab">
                <div class="btn-group container" role="group">
                    <button type="button" class="btn btn-secondary" onclick="getStatistics()">Get Statistics</button>
                </div>
                <div id="statistics-container">

                </div>
            </div>
            <div class="tab-pane fade container" id="upload-dataset" role="tabpanel"
                aria-labelledby="upload-dataset-tab">
                <div id="upload-instructions">
                    <p><b>Instructions to upload your dataset</b></p>
                    <ol>
                        <li>The dataset should be a zip file</li>
                        <li>The zip file name will be the name of the dataset</li>
                        <li>The zip file should contain the following (5) files
                            <ul>
                                <li>tableA.csv</li>
                                <li>tableB.csv</li>
                                <li>test.csv</li>
                                <li>valid.csv</li>
                                <li>train.csv</li>
                            </ul>
                        </li>
                        <li>Each file should be structured <a
                                href="https://github.com/anhaidgroup/deepmatcher/blob/master/Datasets.md"
                                target="_blank">Deepmatcher Datasets</a></li>
                        <li>Once you upload your dataset, you will be able to select it on the dataset selection
                            dropdown</li>
                    </ol>
                </div>
                <div class="mb-3">
                    <form action="http://127.0.0.1:5000/requests/uploadDataset" method="POST"
                        enctype="multipart/form-data" id="dataset-upload-form">
                        <label for="dataset-upload-file" class="form-label">Upload your dataset</label>
                        <input class="form-control" name="dataset-upload-file" type="file" id="dataset-upload-file" accept=".zip">
                        <button type="button" class="btn btn-success" onclick="uploadDataset()">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/requests.js') }}"></script>
</body>

</html>